@import url("https://fonts.googleapis.com/css?family=Oswald:400,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Google+Sans:400,500,700&lang=en");
@import url("https://fonts.googleapis.com/css?family=Merriweather&display=swap");

:root {
  --n-900-color: hsl(0, 0%, 13%);
  --n-800-color: hsl(0, 0%, 23%);
  --n-700-color: hsl(0, 0%, 32%);
  --n-600-color: hsl(0, 0%, 38%);
  --n-500-color: hsl(0, 0%, 49%);
  --n-400-color: hsl(0, 0%, 62%);
  --n-300-color: hsl(0, 0%, 69%);
  --n-200-color: hsl(0, 0%, 81%);
  --n-100-color: hsl(0, 0%, 88%);
  --n-000-color: hsl(0, 0%, 97%);
}

/* Navbar */
nav {
  background-color: #fff;
  padding: 18px;
  width: 100%;
  position: fixed;
  top: 0;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.06);
  z-index: 999;
  border-top: var(--n-800-color) 6px solid;
}

.nav-branding,
.nav-links {
  display: inline;
}

.nav-links a {
  color: var(--n-800-color);
  font-weight: 500;
}

.nav-branding {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
}

.nav-branding a {
  color: var(--n-800-color);
}

.nav-links {
  float: right;
  font-family: "Google Sans", sans-serif;
  font-weight: 700;
}

nav ul {
  list-style: none;
  display: inline;
}

nav ul li {
  display: inline;
  padding: 12px 24px;
}

.nav-container {
  max-width: 1200px;
  margin: auto;
}

nav a {
  text-decoration: none;
}

/* 
* HOME PAGE 
*/

.home {
  height: 100vh;
  background: url(../images/main_blob.svg) no-repeat top right/cover;
  background-size: 50vw;
}

.home-branding {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  left: 30%;
  color: var(--n-700-color);
  font-weight: 500;
}

.home-branding img {
  margin-top: 240px;
}

.home-branding p {
  font-family: "Google Sans", sans-serif;
  font-size: 1.1rem;
  margin-left: 70px;
  margin-top: -50px;
}

button {
  background-color: var(--n-900-color);
  color: var(--n-000-color);
  padding: 10px;
  font-family: "Google Sans", sans-serif !important;
  font-size: 18px;
  border: none;
  border-radius: 20px;
  font-weight: 700;
  width: 110px;
  margin-top: 10px;
  margin-left: 230px !important;
  cursor: pointer;
}

/* 
* Posts
*/

#posts {
  margin: auto;
  max-width: 768px;
  height: 100vh;
}

#posts .container {
  padding-top: 120px;
}

#posts .container h2 {
  font-size: 1.7rem;
  font-weight: 700;
  color: var(--n-800-color);
  margin-bottom: -0.1rem;
}

#posts .container #posts-heading {
  margin-bottom: 3.2rem;
  top: -150px;
}

#posts .container #post-heading-accent {
  border-bottom: 5px solid var(--n-700-color);
  width: 100%;
  height: 100px;
}

#posts .container h3 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 3px !important;
  color: var(--n-800-color);
  font-family: "Merriweather", serif;
}

#posts .container small {
  color: var(--n-500-color);
}

#posts .container .read-more a {
  color: var(--n-600-color);
  font-size: 0.95rem;
}

#posts .container .read-more,
hr {
  position: relative;
  top: -6px;
}
